# Compiled JavaScript files
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Ignore artifacts:
lib/
coverage/

# Logs
.DS_Store
npm-debug.log*
firebase-debug.log
firebase-debug.*.log
ui-debug.log
yarn-debug.log*
yarn-error.log*

# Firebase cache
.firebase/
.firebaserc

# dotenv environment variables file
.env
